statemachine/escalation.asl.json
{
  "Comment": "TruClaw escalation workflow. STANDARD state machine type (not Express -- Express doesn't support .waitForTaskToken at all, confirmed via a failed deploy). Started async (StartExecution) by interceptor/handler.py on ESCALATE, which then polls DescribeExecution in a bounded loop rather than blocking on a single synchronous call, since Standard has no StartSyncExecution API. This JSON file is a hand-maintained reference matching what infra/cdk/truclaw_stack.py actually builds via CDK constructs -- CDK does not load this file directly, so keep both in sync by hand if either changes.",
  "StartAt": "SendChallenge",
  "States": {
    "SendChallenge": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${SendChallengeFunctionArn}",
        "Payload": {
          "Token.$": "$$.Task.Token",
          "payload.$": "$"
        }
      },
      "TimeoutSecondsPath": "$.timeoutSeconds",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Denied"
        }
      ],
      "Next": "Resolved"
    },
    "Resolved": {
      "Type": "Pass",
      "End": true
    },
    "Denied": {
      "Type": "Pass",
      "Parameters": {
        "approved": false,
        "reason.$": "States.Format('escalation did not resolve: {}', $.error.Cause)"
      },
      "End": true
    }
  }
}
